USE [QUANT]
GO
/****** Object:  StoredProcedure [dbo].[YH_EBITDA_TTM_Q]    Script Date: 2023-11-17 오전 11:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROC [dbo].[YH_EBITDA_TTM_Q]
AS


-- 현금흐름표 값을 사용하는 경우
-----------------------------------------------------------------------------------
-- Trailing EBTDA 계산
-----------------------------------------------------------------------------------
DROP TABLE IF EXISTS #T_PERIOD 
SELECT DISTINCT(BASE_D) YYMM_0,
	CASE
		WHEN RIGHT(BASE_D, 2) < 04 THEN (BASE_D - 91)
		ELSE (BASE_D - 3) END AS YYMM_1,
	CASE
		WHEN RIGHT(BASE_D, 2) < 07 THEN (BASE_D - 94)
		ELSE (BASE_D - 6) END AS YYMM_2,
	CASE
		WHEN RIGHT(BASE_D, 2) < 10 THEN (BASE_D - 97)
		ELSE (BASE_D - 9) END AS YYMM_3,
	(BASE_D) AS YYMM_4 -- (BASE_D - 100)이 들어가야 1년전 TA이다 지금 식은 WISEFN이랑 똑같이 만든건데 틀렸음
INTO #T_PERIOD
FROM (select yymm as BASE_D
		from wisefn..TZ_DATE
		where  MN_END_YN = 1 and right(yymm,2) in ('03','06','09','12')) AB


DROP TABLE IF EXISTS #MST --4분기 씩 밀리게 한 것 (GAAP이 IFRS를 먹어버려)
SELECT A.*,
		CASE
			WHEN FOUR_LAG = 'C' AND MASTER_CHK = 'P' THEN MASTER_CHK
			ELSE FOUR_LAG END AS MST_CHK
INTO #MST
FROM (
		SELECT CMP_CD, YYMM, IFRS_CHK,LAG(MASTER_CHK,4) OVER (ORDER BY CMP_CD, YYMM) AS FOUR_LAG, MASTER_CHK
		FROM WISEFN..TF_CMP_FINPRD) A
WHERE 1=1
	AND YYMM BETWEEN '199801' AND '210001'
	AND CMP_CD NOT LIKE 'Z%'
ORDER BY CMP_CD, YYMM



-- 연결 계정
DROP TABLE IF EXISTS #T_EY
SELECT udf.*
INTO #T_EY
FROM (
	SELECT YYMM AS BASE_D, CMP_CD AS COMP_CD, [M123000] = VAL
	FROM wisefn..TF_CMP_FINDATA
	WHERE 1=1
		AND ITEM_CD = '123000' --EBITDA
		AND TERM_TYP = 1 
		AND ITEM_TYP = 'M'
		AND YYMM IN ('199912','200012','200112','200212')

	UNION ALL

	SELECT A.YYMM AS BASE_D
	,	A.CMP_CD AS COMP_CD
	,	[M123000] = A.VAL
	FROM wisefn..TF_CMP_FINDATA_IFRS A
		INNER JOIN #MST B
			ON A.CMP_CD = B.CMP_CD
			AND A.YYMM = B.YYMM
			AND B.MST_CHK = 'C'
	WHERE 1=1
		AND A.ITEM_CD = '123000' --EBITDA
		AND A.TERM_TYP = 32 
		AND A.ITEM_TYP = 'M'
	UNION ALL
	-- 개별 계정
	SELECT A.YYMM AS BASE_D
	,	A.CMP_CD AS COMP_CD
	,	[M123000] = A.VAL
	FROM wisefn..TF_CMP_FINDATA_IFRS A
		INNER JOIN #MST B
			ON A.CMP_CD = B.CMP_CD
			AND A.YYMM = B.YYMM
			AND B.MST_CHK = 'P'
			AND A.YYMM BETWEEN '200303' AND '210003'
	WHERE 1=1
		AND A.ITEM_CD = '123000' --EBITDA
		AND A.TERM_TYP = 2 
		AND A.ITEM_TYP = 'M') UDF



DROP TABLE IF EXISTS #T_EY_pre_cal
SELECT B0.BASE_D BASE_D, 
	B0.COMP_CD COMP_CD, 
	B0.M123000 EY_0, 
	B1.M123000 EY_1, 
	B2.M123000 EY_2, 
	B3.M123000 EY_3,
	A.YYMM_0,
	A.YYMM_1,
	A.YYMM_2,
	A.YYMM_3,
	C1.MST_CHK AS AS_0,
	C2.MST_CHK AS AS_1,
	C3.MST_CHK AS AS_2,
	C4.MST_CHK AS AS_3

INTO #T_EY_pre_cal
FROM #T_PERIOD A
	RIGHT OUTER JOIN #T_EY B0
		ON  A.YYMM_0 = B0.BASE_D COLLATE Korean_Wansung_CI_AS 
	LEFT JOIN #T_EY B1
		ON  A.YYMM_1 = B1.BASE_D COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = B1.COMP_CD COLLATE Korean_Wansung_CI_AS 
	LEFT JOIN #T_EY B2
		ON  A.YYMM_2 = B2.BASE_D COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = B2.COMP_CD COLLATE Korean_Wansung_CI_AS 
	LEFT JOIN #T_EY B3
		ON  A.YYMM_3 = B3.BASE_D COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = B3.COMP_CD COLLATE Korean_Wansung_CI_AS 
	LEFT JOIN #MST C1
		ON A.YYMM_0 = C1.YYMM COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = C1.CMP_CD COLLATE Korean_Wansung_CI_AS 
	LEFT JOIN #MST C2
		ON A.YYMM_1 = C2.YYMM COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = C2.CMP_CD COLLATE Korean_Wansung_CI_AS
	LEFT JOIN #MST C3
		ON A.YYMM_2 = C3.YYMM COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = C3.CMP_CD COLLATE Korean_Wansung_CI_AS
	LEFT JOIN #MST C4
		ON A.YYMM_3 = C4.YYMM COLLATE Korean_Wansung_CI_AS  AND B0.COMP_CD = C4.CMP_CD COLLATE Korean_Wansung_CI_AS
		

DROP TABLE IF EXISTS #T_EY_quarterly
SELECT A.BASE_D, 
	A.COMP_CD, 
	'M123000' ITEM_CD,
	CAST(isnull(EY_0,0) + isnull(EY_1,0) + isnull(EY_2,0) + isnull(EY_3,0) AS DECIMAL(30,0))
	 AS ITEM_VAL,
	 A.YYMM_0,
	 A.YYMM_1,
	 A.YYMM_2,
	 A.YYMM_3,
	 A.EY_0, A.EY_1, A.EY_2, A.EY_3,
	 A.AS_0, A.AS_1, A.AS_2, A.AS_3
INTO #T_EY_quarterly
FROM #T_EY_pre_cal A
where YYMM_0 not in ('200303','200306','200309')
ORDER BY COMP_CD, BASE_D

-----------------------------------------------------------------------------------
-- 테이블에 INSERT
-----------------------------------------------------------------------------------
INSERT INTO QUANT..YH_TTM_month
SELECT BASE_D, COMP_CD, 'M123000' ITEM_CD, ITEM_VAL AS ITEM_VAL, YYMM_0, YYMM_1, YYMM_2, YYMM_3, EY_0 AS BASE_0, EY_1 AS BASE_1, EY_2 AS BASE_2, EY_3 AS BASE_3, AS_0, AS_1, AS_2, AS_3
FROM #T_EY_quarterly A
WHERE NOT EXISTS (SELECT * 
					FROM QUANT..YH_TTM_month B
					WHERE A.BASE_D = B.BASE_D COLLATE Korean_Wansung_CI_AS 
					AND A.COMP_CD = B.COMP_CD COLLATE Korean_Wansung_CI_AS 
					AND B.ITEM_CD = 'M123000')
					AND ITEM_VAL IS NOT NULL


DROP TABLE IF EXISTS #T_PERIOD;
DROP TABLE IF EXISTS #T_EY
DROP TABLE IF EXISTS #T_EY_pre_cal;
DROP TABLE IF EXISTS #T_EY_quarterly;
DROP TABLE IF EXISTS #T_EY_monthly;